.personalMessage-header{
    width: 100%;
    height: 50px;
    background-color: rgb(196, 224, 218);
    position: absolute;
    left: 0;
    top: 0;
}
.personalMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
}
.personalMessage-img{
    width: 100%;
}
.personalMessage-img img{
    width: 100%;
}
.personalMessage p{
    align-items: center;
    color: black;
    font-size: 20px;
}